.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}
.App-2 {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  justify-content: center;
}

.App-2 input{
  margin-top: 5px;
  width: 300px;
  height:50px;
  font-size: 20px;
  padding-left:10px;
  padding-right: 10px;
}
 button {
width:325px;
height:50px;
margin-top:15px;
}
.App-2 button:hover {
  cursor:pointer;
}
.patients {
  display:flex;
  align-items : center;
  justify-content: center;
  flex-direction: cloumn;
 
  /* background-color: blue; */
  width:100%
}
.div {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  align-items: center;
}
.patient {
  width: 700px;
  height: auto;
  border:1px solid black;
  margin:10px;
  display:flex;
  /* flex-direction: column; */
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}
patient h3{
  margin:20x;
  font: ;
}